/**
 * Style variables
 */
$base-color:           #fff3d1 !default;
$primary-color:        #a1fc8f !default;
$text-color:           $base-color !default;
$placeholder-color:    $base-color !default;
$link-color:           $base-color !default;
$border:               dashed 1px #fff3d1 !default;
$selection-background: #fff3d1 !default;
$selection-text:       #000 !default;
$background-color:     #000 !default;

@import "base";
@import "aframe";
